<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Painel de cadastro</title>
</head>
<body>
    <div class="w-screen h-screen flex items-center justify-center bg-red-50">
        <form action="./login" method="post" class="flex flex-col gap-3  p-5 w-96 shadow-md items-center bg-white">
            <input type="text" name="name" placeholder="Usuario" class="bg-gray-100 p-3 outline-none shadow-md w-full">
            <input type="password" name="password" placeholder="********" class="bg-gray-100 p-3 outline-none shadow-md mb-5 w-full">
            <input type="submit" value="Fazer Login" class=" bg-green-500 p-3 rounded-md w-40 text-white">
        </form>
    </div>
</body>
</html>